/*       Universal Styles    */

a{
  color: inherit;
  text-decoration: none;
}

nav ul{
  list-style: none;
}


/*    Header navigation   */

.container.header{
  padding-right: 0;
  margin-right: 32px;
}

.header-navigation{
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-navigation li{
  margin-left: 32px;
}

.sign-in-button{
  border-radius: 0;
  padding: 4px 12px;
}
